<p>Hello <%= @referred_to_email %>!</p>

<p><%= t(:referred_you, scope: [:mailer, :send_referral_email], email: @referrer.email) %></p>

<p><%= link_to 'Sign up', new_user_registration_url(referral_token: @referrer.referral_token) %></p>
